nav {
  display: flex;
  justify-content: space-around;
}

.country {
  border: 2px solid blue;
  width: 50vw;
  min-width: 500px;
  max-width: 1000px;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

body {
  background: rgb(170, 19, 209);
  background: linear-gradient(344deg, rgba(170, 19, 209, 1) 0%, rgba(213, 11, 224, 1) 19%, rgba(149, 69, 221, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}

#links-container{
  text-align: center;
  width: 260px;
  display: flex;
  justify-content: space-around;
}

a{
  text-decoration: none;
  color: whitesmoke;
}

#covidImage{
  max-width: 500px;
  width: 50vw;
  margin-left: 4vw;
}

#main-title{
  color: whitesmoke;
  width: 180px;
  margin-left: 8vw;
  margin-bottom: 10px;
  margin-top: 80px;
}

#getInfo{
  width: 330px;
  background-color: rgb(66, 2, 139);
  height: 45px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8vw;
  margin-top: 0px;
  transition: all ease-in 200ms;
}

#getInfo:hover{
  background-color: rgb(32, 1, 19);

}