nav {
  display: flex;
  justify-content: space-around;
}

.country {
  border: 2px solid blue;
  margin-bottom: 10px;
  width: 50vw;
  min-width: 500px;
  max-width: 1000px;
  margin: auto;
}

body {
  background: rgb(170, 19, 209);
  background: linear-gradient(344deg, rgba(170, 19, 209, 1) 0%, rgba(213, 11, 224, 1) 19%, rgba(149, 69, 221, 1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}

#links-container{
  text-align: center;
  width: 260px;
  display: flex;
  justify-content: space-around;
}

a{
  text-decoration: none;
  color: whitesmoke;
}
